nav {
  display: flex;
  box-sizing: border-box;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}
