.App p {
  padding: 25px;
  text-align: center;
  margin-top: 100px;
}

.cardWrapper {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
